//
//  NBUKit_Testing.xcconfig
//  NBUKit
//
//  Created by Ernesto Rivera on 12/07/25.
//  Copyright (c) 2012 CyberAgent Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

//////////////////////////////////////////////////////////////////////////
//              *** YOU DON'T NEED TO MODIFY THIS FILE ***              //
// You can change these values directly in your Target's Build Settings //
//////////////////////////////////////////////////////////////////////////

/////////////
// TESTING //
/////////////

// Use the NBUCore configuration
#include "Library/NBUCore/NBUCore_Testing.xcconfig"

////////////
// COMMON //
////////////

// Linker
LINK_FLAGS = -ObjC -all_load
LINK_GPUIMAGE = -l GPUImage -framework CoreMedia -framework CoreVideo -framework OpenGLES -framework AVFoundation -framework QuartzCore
LINK_NBUKIT = -framework NBUKit -framework UIKit -framework Foundation -framework CoreGraphics -framework MessageUI -framework AssetsLibrary -framework CoreLocation -weak_framework CoreImage -framework CoreData -framework Security -framework MobileCoreServices -framework MediaPlayer -framework AudioToolbox $(LINK_GPUIMAGE)

// *** Add other necesasary links in your target's build settings (ex. $(inherited) $(LINK_TESTFLIGHT)) ***
OTHER_LDFLAGS = $(LINK_FLAGS) $(LINK_NBUKIT) -L"$DEPENDENCIES_BUILD_DIR"

